.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 40px 0;
  text-align: center;
  background-color: $black;
  background-size: cover;
}
