/* Unrulyness */
@font-face {
  font-family: "Unrulyness";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Unrulyness/Unrulyness.woff2") format("woff2"),
    url("/fonts/Unrulyness/Unrulyness.woff") format("woff"),
    url("/fonts/Unrulyness/Unrulyness.ttf") format("truetype");
}

/* Roboto */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"),
    url("/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), url("/fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Bold.woff") format("woff"),
    url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

/* Montserrat */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
    url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
    url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("/fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
    url("/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Light.woff2") format("woff2"),
    url("/fonts/Montserrat/Montserrat-Light.woff") format("woff"),
    url("/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
